.app {
  padding-top: 20px;
  margin-left: 60px;
  /* background-color: var(--bg-color); */
  color: var(--text-color);
}

.gallery {
  column-count: 1;
  column-gap: 16px;
}

@media (min-width: 600px) {
  .gallery {
    column-count: 2;
  }
}

@media (min-width: 900px) {
  .gallery {
    column-count: 3;
  }
}

@media (min-width: 1200px) {
  .gallery {
    column-count: 4;
  }
}

.image-item {
  margin-bottom: 16px;
  break-inside: avoid;
  overflow: hidden;
  border: 1px solid var(--border-color);
  border-radius: 15px;
  box-shadow: 0 4px 10px var(--box-shadow-color);
}

.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.image-container img {
  width: 100%;
  display: block;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.image-container:hover img {
  transform: scale(1.03);
}

.icon-heart,
.icon-save {
  position: absolute;
  top: 10px;
  opacity: 0;
  transition: opacity 0.3s;
  background: rgba(255, 255, 255, 0.9);
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;
  font-size: 18px;
  color: #d81b60;
  transition: background 0.2s;
}

.icon-heart {
  left: 10px;
  color: #d81b60;
}

.icon-heart:hover {
  background: #d81b60;
  color: white;
}

.icon-save {
  right: 10px;
  color: #333;
  font-size: 18px;
}

.icon-save:hover {
  background: #333;
  color: white;
}

.image-container:hover .icon-heart,
.image-container:hover .icon-save {
  opacity: 1;
}
