.image-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 80px 40px;
  gap: 40px;
  flex-wrap: wrap;
  background-color: var(--page-bg);
  color: var(--text-color);
}

.image-page img {
  max-width: 350px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 8px 16px var(--box-shadow-color);
}

.image-details {
  flex: 1;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.image-details h2 {
  font-size: 28px;
  color: var(--text-color);
  margin: 0;
}

.image-description {
  font-size: 16px;
  color: var(--text-color);
  line-height: 1.6;
}

.image-author {
  color: #777;
  font-size: 20px;
}

.image-author a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  padding: 10px 5px;
  transition: all 0.5s ease;
  border-radius: 10px;
  padding: 10px;
}
.image-author a:hover {
  color: var(--text-color);
  transform: scale(1.05);
  background-color: var(--bg-color);
}
